/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #32db64;
  --color-secondary: #2dd36f;
  --color-dark: #1c1d3b;
  --color-medium: #ccc;
  --color-light: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background: var(--color-dark);
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--color-light);
}

section {
  height: 100%;
  padding: 2rem;
  background: var(--color-primary);
}

button {
  border: 2px solid;
  color: var(--color-dark);
  background-color: var(--color-medium);
  border-color: var(--color-dark);
  font-size: 1rem;
  padding: .5rem;
}

.dialog-container {
  position: absolute !important;
  background: var(--color-dark);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}